<h1>Buscar participante</h1>
<h2 id="notice" align=center><%= notice %></h2>

<div align=center>
  <%= form_tag new_participante_mesa_path, :method => "get" do %>
    <%= text_field_tag :cedula, nil, { :placeholder => "Cédula" } %>
    <br />
    <%= submit_tag "Buscar"%>
  <% end %>
</div>