<table border="1">
  <tr>
    <th>Cédula</th>
    <th>Nombre</th>
    <th>Prioridad</th>
    <th>Puesto</th>
  </tr>
  
  <% @participantes.each do |p| %>
  <tr>
    <td><%= p.participante.cedula %></td>
    <td><%= p.participante.nombreCompleto %></td>
    <td><%= p.prioridad %></td>
    <td><%= p.puesto %></td>
  </tr>
  <% end %>
</table>
