<h1>Modificar: <%= @material_pop.nombre %></h1>

<div align="center">
  <%= render "form" %>
  <br />
  <%= link_to "Mostrar", @material_pop %> |
  <%= link_to "Volver a la lista", materiales_pop_path %>
</div>