<h1>Buscar participante</h1>
<h2 id="notice" align=center><%= notice %></h2>

<div align=center>
  <%= form_tag new_participante_mate_path, :method => 'get' do %>
    <%= text_field_tag :entrada, nil, { :placeholder => '# de Entrada' } %>
    <br />
    <%= submit_tag 'Buscar'%>
  <% end %>
</div>
