<br/>
<h1>Registrar Grupo</h1>
<p id="notice"><%= notice %></p>
<h4>Si ya posee una cuenta registrada puede <%= link_to "iniciar sesion", new_group_session_path %></h4>

<div align="center">
  <%= render 'form' %>
</div>
