<h1>Patrocinio</h1>
<ul>
  <li><%= link_to "Planes", planes_path %></li>
  <li><%= link_to "Patrocinantes", patrocinantes_path %></li>
  <li><%= link_to "Premios", premios_path %></li>
  <li><%= link_to "Rifas", rifas_path %></li>
</ul>
