<br />

<h1>Reportes</h1>

<br />
<ul>
  <li>
    <%= link_to "Lista de participantes", excel_participantes_path %>
  </li>
  <li>
    <%= link_to "Excel para empresas", excelPatrocinantes_participantes_path %>
  </li>
  <li>
    <%= link_to "XML para rifas", xml_participantes_path(:format => :xml) %>
  </li>
  <li>
    <%= link_to "Venta de entradas por día", controldeVentas_participantes_path %>
  </li>
</ul>