<br />

<h1>Reportes</h1>

<br />

<p>
  <%= link_to "Lista de participantes", excel_participantes_path %>
</p>
<p>
  <%= link_to "Excel para empresas", excelPatrocinantes_participantes_path %>
</p>
<p>
  <%= link_to "XML para rifas", xml_participantes_path(:format => :xml) %>
</p>
