<h1>Modificar: <%= @organizador.nombreCompleto %></h1>

<div align="center">
  <%= render "form" %>
  <br />
  <%= link_to "Mostrar", @organizador %> |
  <%= link_to "Volver a la lista", organizadores_path %>
</div>