<h1>Lista de preguntas</h1>

<% if @preguntas.present? %>
<table class="lista">
  <tr>
    <th style="text-align:left;">Pregunta</th>
    <% unless @hay_ponencia %><th>Ponencia</th><% end %>
  </tr>

  <% @preguntas.each do |pregunta| %>
  <tr>
    <td><b><%= pregunta.participante.nombreCompleto %></b>: <%= pregunta.mensaje %></td>
    <% unless @hay_ponencia %><td align="center"><%= pregunta.ponencia.titulo %></td><% end %>
  </tr>
  <% end %>
</table>
<% else %>
  <p style="text-align:center;">Aún no se han recibido preguntas.</p>
<% end %> 
