section {
  margin-top: 10px;
  padding: 20px;
  background: #DDF;
}

table.formulario  {
  width:600px;
}
table.formulario tr td {
  text-align:right;
}
table.formularioS {
  width:200px;
}
table.formularioS tr td {
  text-align:right;
}

table.lista {
  margin-left: auto;
  margin-right: auto;
  width:600px;
}
table.listaS {
  margin-left: auto;
  margin-right: auto;
  width:400px;
}
table.listaS {
  text-align: center;
}

table.menu {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  width:500px;
}
table.menu tr td{
  width:33%;
}

table.list tbody tr:nth-child(even) td, table.list tbody tr.even td {
  background: #EEF;
}

/* Barra de navegación superior */
nav {
  background: #BBF;
  float: right;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  font-size: 125%;
  color: #000;
  text-decoration: none;
}

nav ul li a:hover {
  color: #EEF;
  text-decoration: none;
}

/* Barra inferior */
footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
footer nav {
  float: none;
}

/* Boton "Crear Cuenta" */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 150px;
  color: #000;
  background: #930;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
}

/* Esquinas redondas */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
