section {
  margin-top: 0.8em;
  padding: 1.6em;
  background: #DDF;
  border: 1px solid #BBF;
  border-radius: 0.8em;
}

textarea {
  font-family:inherit;
}

table.dosColumnas {
  width:100%;
}
table.dosColumnas tr th{
  width:50%;
}

table.formulario {
  width:50em;
}
table.formulario tr td {
  vertical-align:top;
  text-align:right;
  line-height:3em;
}

table.formularioS {
  width:10em;
}
table.formularioS tr td {
  text-align:center;
}

table.lista {
  width:60em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #99E;
  border-radius: 0.4em;
}
table.lista tr th{
  background: #CCF;
  border-bottom: 1px solid #99E;
}
table.lista tr th:first-child {
  border-top-left-radius: 0.4em;
}
table.lista tr th:last-child {
  border-top-right-radius: 0.4em;
}
table.lista tr:last-child td:first-child {
  border-bottom-left-radius: 0.4em;
}
table.lista tr:last-child td:last-child {
  border-bottom-right-radius: 0.4em;
}

table.listaS {
  width:30em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #99E;
  border-radius: 0.4em;
}
table.listaS tr th{
  background: #CCF;
  border-bottom: 1px solid #99E;
}
table.listaS tr th:first-child {
  border-top-left-radius: 0.4em;
}
table.listaS tr th:last-child {
  border-top-right-radius: 0.4em;
}
table.listaS tr:last-child td:first-child {
  border-bottom-left-radius: 0.4em;
}
table.listaS tr:last-child td:last-child {
  border-bottom-right-radius: 0.4em;
}

table.menu {
  width:39em;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}
table.menu tr td{
  width:33%;
}

table.lista tbody tr:nth-child(even) td, table.lista tbody tr.even td {
  background: #EEF;
}
table.listaS tbody tr:nth-child(even) td, table.listaS tbody tr.even td {
  background: #EEF;
}

/* Barra superior */
nav {
  background: #BBF;
  float: right;
  padding: 0 0.7em;
  white-space: nowrap;
  border-radius: 0.8em;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
nav ul li a {
  padding: 0 0.4em;
  font-weight: bold;
  font-size: 125%;
  color: #000;
  text-decoration: none;
}
nav ul li a:hover {
  color: #EEF;
  text-decoration: none;
}

/* Barra inferior */
footer {
  text-align: center;
  margin-top: 0.8em;
  margin-left: auto;
  margin-right: auto;
}
footer nav {
  float: none;
}

.field_with_errors input{
  border: 2px solid red;
}


#error_explanation {
  background-color: #EEE;
  width: 450px;
  border: 2px solid red;
  padding: 5px;
  margin-bottom: 20px;
}
#error_explanation h2 {
  background-color: #C00;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  padding: inherit;
  margin: -5px;
  margin-bottom: 10px;
}

#notice {
  color: green;
  font-size: 1.5em;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}
