<h1>Enviar Correo</h1>
<h2 id="notice" align=center><%= notice %></h2>

<div align=center>
  <%= form_tag enviarCorreo_participantes_path do %>
    <%= text_field_tag :cedula, nil, { :placeholder => "Cédula" } %>
    <br />
    <%= submit_tag "Enviar Correo"%>
  <% end %>
  <br/>
</div>