<br />

<h1>Informacion sobre la entrega de comidas</h1>
<p id="notice"><%= notice %></p>

<br />

<p>
  Cantidad de participantes: <b><%= @participantes %></b>
</p>
<p>
  Comidas entregadas: <b><%= @entregadas %></b>
</p>
<p>
  Comidas por entregar: <b><%= @por_entregar %></b>
</p>
