<footer>
        <nav class="round">
          <ul>
            <li><%= link_to "Nosotros", '/info/nosotros' %></li>
            <li><%= link_to "Contacto", '/info/contacto' %></li>
            <li><%= link_to "Descargas", '/info/descargas' %></li>
            <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
          </ul>
          <p>Sistema centralizado de las Jornadas Interuniversitarias de Ciencias de la Comutación. Todos los derechos reservados.</p>
        </nav>
      </footer>