<footer>
  <nav class="round">
    <ul>
      <li align="center"><%= link_to "JOINCIC", "http://www.joincic.com.ve" %></li>
    </ul>
    <p>Sistema centralizado de las Jornadas Interuniversitarias de Ciencias de la Computación. Todos los derechos reservados.</p>
  </nav>
</footer>