<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "JOINCIC", "http://www.joincic.com.ve" %></li>
      <li><%= link_to "Académico", "/home/academico" %></li>
      <li><%= link_to "Patrocinio", "/home/patrocinio" %></li>
      <li><%= link_to "Rails Tutorial", "http://www.railstutorial.org/" %></li>
    </ul>
    <p>Sistema centralizado de las Jornadas Interuniversitarias de Ciencias de la Comutación. Todos los derechos reservados.</p>
  </nav>
</footer>